<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container">
        <div class="row justify-content-center p-5">
            <div class="row justify-content-center col-md-15">
                <div class=" col-md-8 card text-center">
                    <div class="card-body">
                        <h1>HOŞ GELDİN</h1>
                        <% if (user) { %>
                            <p>
                                <%= user.name.toUpperCase() %>
                                    <%= user.surname.toUpperCase() %>
                            </p>
                            <p>
                                <%= user.email %>
                            </p>
                            <% } else { %>
                                <p>User not logged in</p>
                                <% } %>
                                    <a href="/" id="buttonExit" class="btn btn-danger">Çıkış</a>
                                    <a href="#" id="updateInfo" class="btn btn-secondary">Bilgilerimi Güncelle</a>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="card p-3 mt-3">
                            <form id="messageForm" action="/sendMessage" method="post">
                                <div class="form-group mt-3">
                                    <select required class="form-control" id="emailSelect">
                                        <option disabled selected value="">Mesaj göndermek istediğiniz kişiyi seçiniz...
                                        </option>
                                        <% users.forEach(otherUser=> { %>
                                            <% if (otherUser.email !==user.email) { %>
                                                <option>
                                                    <%= otherUser.email %>
                                                </option>
                                                <% } %>
                                                    <% }); %>
                                    </select>
                                </div>

                                <div class="form-group mt-3">
                                    <textarea style="resize: none;" class="form-control" id="messageInput"
                                        maxlength="100" rows="3" placeholder="Enter your message..."
                                        oninput="updateCharacterCount()"></textarea>
                                    <p id="characterCount" style="text-align: right; color: #000000; margin-top: 5px;">
                                        100/100</p>
                                </div>

                                <button onclick="sendMessage()" id="sendButton" type="button"
                                    class="btn btn-primary">Mesajı Gönder</button>

                                <p id="feedbackMessage" style="margin-top: 20px;"></p>
                                <div id="sentMessageList" class="mt-3"></div>

                                <script>
                                    function updateCharacterCount() {
                                        var messageInput = document.getElementById("messageInput");
                                        var characterCount = document.getElementById("characterCount");
                                        var remainingCharacters = messageInput.maxLength - messageInput.value.length;
                                
                                        characterCount.textContent = remainingCharacters + "/100";
                                
                                        
                                        if ( remainingCharacters === 100)
                                        {
                                            characterCount.style.color = 'black';
                                        }
                                        else if (remainingCharacters > 0 && remainingCharacters < 100) {
                                            characterCount.style.color = '#888';
                                        }
                                        else if ( remainingCharacters === 0) {
                                            characterCount.style.color = 'red';
                                        }
                                    }
                                </script>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card p-3 mt-3">
                            <form id="lookMessage" action="/lookMessage" method="post">
                                <div class="form-group mt-3">
                                    <select onchange="lookMessage()" class="form-control" id="emailSelect2">
                                        <option disabled selected value="">Mesajlarına bakmak istediğiniz kişiyi
                                            seçiniz...
                                        </option>
                                        <% users.forEach(otherUser=> { %>
                                            <% if (otherUser.email !==user.email) { %>
                                                <option>
                                                    <%= otherUser.email %>
                                                </option>
                                                <% } %>
                                                    <% }); %>
                                    </select>
                                    <p id="feedbackMessage2" style="margin-top: 20px;"></p>
                                </div>
                                <div id="lookMessageList" class="mt-3">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>

        function sendMessage() {
            var selectedEmail = document.getElementById("emailSelect").value;
            var selectedMessage = document.getElementById("messageInput").value;

            if (selectedEmail === "" || selectedMessage === "") {
                document.getElementById("feedbackMessage").innerText = 'Lütfen alanları boş bırakmayın.';
                document.getElementById("feedbackMessage").style.color = 'red';
                setTimeout(function () {
                        document.getElementById("feedbackMessage").innerText = '';
                    }, 2000);
                return;
            }

            document.getElementById("sendButton").disabled = true;
            document.getElementById("messageInput").disabled = true;
            document.getElementById("emailSelect").disabled = true;

            var countDown = 5;
            var countDownInterval = setInterval(function () {
                document.getElementById("sendButton").innerText = 'Gönderiliyor... ' + countDown + ' saniye';
                countDown--;

                if (countDown < 0) {
                    clearInterval(countDownInterval);
                    document.getElementById("sendButton").innerText = 'Mesaj Gönder';

                    document.getElementById("sendButton").disabled = false;
                    document.getElementById("messageInput").disabled = false;
                    document.getElementById("emailSelect").disabled = false;

                    document.getElementById("feedbackMessage").innerText = 'Mesaj gönderildi!';
                    document.getElementById("feedbackMessage").style.color = 'green';


                    var characterCount = document.getElementById("characterCount");
                    document.getElementById("emailSelect").selectedIndex = 0;
                    document.getElementById("messageInput").value = "";
                    characterCount.textContent = "100/100";
                    characterCount.style.color = 'black';

                    setTimeout(function () {
                        document.getElementById("feedbackMessage").innerText = '';
                    }, 2000);
                }
            }, 1000);

            var userLoggedInEmail = "<%= user ? user.email : '' %>";

            var messageData = {
                selectedEmail: selectedEmail,
                selectedMessage: selectedMessage,
                userLoggedInEmail: userLoggedInEmail
            };

            fetch('/sendMessage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(messageData),
            })
                .then(response => response.json())
                .catch((error) => {
                    console.error('Error:', error);
                    clearInterval(countDownInterval);
                    document.getElementById("sendButton").innerText = 'Mesaj Gönder';
                    document.getElementById("sendButton").disabled = false;
                });
        }

        var lookMessageList = document.getElementById("lookMessageList");

        function lookMessage() {
            var loggedInUserEmail = "<%= user ? user.email : '' %>";

            var selectedEmail2 = document.getElementById("emailSelect2").value;


            var messageData2 = {
                selectedEmail2: selectedEmail2,
                loggedInUserEmail: loggedInUserEmail,

            };

            fetch('/lookMessage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(messageData2),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.messages && data.messages.length > 0) {


                        lookMessageList.innerHTML = `<h5 class="mb-3"> Gönderen: ${data.name} ${data.surname}</h5>`

                        data.messages.reverse();

                        data.messages.forEach(message => {
                            lookMessageList.innerHTML += `
                            
            <div class="card mb-3">
                <div class="card-header">
                    <span class="float-right"><strong>Tarih:</strong> ${new Date(message.timestamp).toLocaleString()}</span>
                </div>
                <div class="card-body">
                    <p class="card-text">${message.content}</p>
                </div>
            </div>
        `;
                        });
                    } else {
                        lookMessageList.innerHTML = '<p>Bu kişiden mesaj almadınız.</p>';
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>
</body>

</html>